.u-section-1 {min-height: 1192px}
.u-section-1 .u-text-1 {margin: 20px calc(((100% - 1140px) / 2) + 510px) 0 calc(((100% - 1140px) / 2) + -50px)}
.u-section-1 .u-text-2 {font-size: 1rem; margin: 24px calc(((100% - 1140px) / 2) + 11px) 0 calc(((100% - 1140px) / 2) + -70px)}
.u-section-1 .u-text-3 {font-size: 1.25rem; margin: 0 calc(((100% - 1140px) / 2) + 327px) 0 calc(((100% - 1140px) / 2) + -50px)}
.u-section-1 .u-text-4 {margin: 20px calc(((100% - 1140px) / 2) + 11px) 0 calc(((100% - 1140px) / 2) + -70px)}
.u-section-1 .u-image-1 {width: 600px; height: 525px; margin: -75px calc(((100% - 1140px) / 2) + 11px) 0 auto}
.u-section-1 .u-text-5 {margin: -525px calc(((100% - 1140px) / 2) + 660px) 10px calc(((100% - 1140px) / 2) + -70px)} 

@media (max-width: 1199px){ .u-section-1 .u-text-1 {width: 680px; margin-left: calc(((100% - 940px) / 2) + -50px); margin-right: calc(((100% - 940px) / 2) + 410px)}
.u-section-1 .u-text-2 {width: 680px; margin-left: calc(((100% - 940px) / 2)); margin-right: calc(((100% - 940px) / 2))}
.u-section-1 .u-text-3 {margin-right: calc(((100% - 940px) / 2) + 227px); margin-left: calc(((100% - 940px) / 2) + -50px)}
.u-section-1 .u-text-4 {margin-right: calc(((100% - 940px) / 2)); margin-left: calc(((100% - 940px) / 2))}
.u-section-1 .u-image-1 {margin-right: calc(((100% - 940px) / 2) + 11px)}
.u-section-1 .u-text-5 {margin-right: calc(((100% - 940px) / 2) + 560px); margin-left: calc(((100% - 940px) / 2) + -70px)} }

@media (max-width: 991px){ .u-section-1 .u-text-1 {margin-left: calc(((100% - 720px) / 2) + -50px); margin-right: calc(((100% - 720px) / 2) + 250px)}
.u-section-1 .u-text-2 {margin-left: calc(((100% - 720px) / 2)); margin-right: calc(((100% - 720px) / 2))}
.u-section-1 .u-text-3 {margin-right: calc(((100% - 720px) / 2)); margin-left: calc(((100% - 720px) / 2))}
.u-section-1 .u-text-4 {margin-right: calc(((100% - 720px) / 2)); margin-left: calc(((100% - 720px) / 2))}
.u-section-1 .u-image-1 {margin-right: calc(((100% - 720px) / 2) + 11px)}
.u-section-1 .u-text-5 {margin-right: calc(((100% - 720px) / 2) + 450px); margin-left: calc(((100% - 720px) / 2) + -70px)} }

@media (max-width: 767px){ .u-section-1 {min-height: 1186px}
.u-section-1 .u-text-1 {width: 540px; margin-left: calc(((100% - 1140px) / 2) + 300px); margin-right: calc(((100% - 1140px) / 2) + 300px)}
.u-section-1 .u-text-2 {width: 540px; margin-left: calc(((100% - 1140px) / 2) + 300px); margin-right: calc(((100% - 1140px) / 2) + 300px)}
.u-section-1 .u-text-3 {margin-left: calc(((100% - 1140px) / 2) + 300px); margin-right: calc(((100% - 1140px) / 2) + 300px)}
.u-section-1 .u-text-4 {margin-left: calc(((100% - 1140px) / 2) + 300px); margin-right: calc(((100% - 1140px) / 2) + 300px)}
.u-section-1 .u-image-1 {width: 540px; height: 473px; margin-right: auto; margin-left: calc(((100% - 1140px) / 2) + 300px)}
.u-section-1 .u-text-5 {margin-top: -473px; margin-right: calc(((100% - 540px) / 2) + 360px); margin-left: calc(((100% - 540px) / 2) + -70px)} }

@media (max-width: 575px){ .u-section-1 {min-height: 1011px}
.u-section-1 .u-text-1 {width: 340px; margin-left: calc(((100% - 340px) / 2)); margin-right: calc(((100% - 340px) / 2))}
.u-section-1 .u-text-2 {width: 340px; margin-left: calc(((100% - 340px) / 2)); margin-right: calc(((100% - 340px) / 2))}
.u-section-1 .u-text-3 {margin-right: calc(((100% - 340px) / 2) + 200px); margin-left: calc(((100% - 340px) / 2) + 200px)}
.u-section-1 .u-text-4 {margin-right: calc(((100% - 340px) / 2) + 200px); margin-left: calc(((100% - 340px) / 2) + 200px)}
.u-section-1 .u-image-1 {width: 340px; height: 298px; margin-left: calc(((100% - 340px) / 2))}
.u-section-1 .u-text-5 {margin-top: -298px; margin-right: calc(((100% - 340px) / 2) + 260px); margin-left: calc(((100% - 340px) / 2) + -70px)} }.u-section-2 .u-sheet-1 {min-height: 809px}
.u-section-2 .u-text-1 {margin: -12px 13px 0 -72px}
.u-section-2 .u-image-1 {width: 550px; height: 440px; margin: 7px auto 0 -81px}
.u-section-2 .u-text-2 {margin: -513px 13px 0 577px}
.u-section-2 .u-text-3 {font-size: 0.875rem; font-weight: 700; margin: -471px 661px 0 -60px}
.u-section-2 .u-text-4 {font-size: 0.75rem; margin: 440px 749px 0 -81px}
.u-section-2 .u-text-5 {font-size: 1.25rem; margin: 28px auto 20px -60px} 

@media (max-width: 1199px){ .u-section-2 .u-text-1 {margin-left: 0; margin-right: 0}
.u-section-2 .u-text-2 {margin-right: 0; margin-left: 390px}
.u-section-2 .u-text-3 {margin-right: 561px}
.u-section-2 .u-text-4 {margin-right: 649px}
.u-section-2 .u-text-5 {margin-left: 0} }

@media (max-width: 991px){ .u-section-2 .u-text-2 {margin-left: 170px}
.u-section-2 .u-text-3 {margin-right: 451px}
.u-section-2 .u-text-4 {margin-right: 539px} }

@media (max-width: 767px){ .u-section-2 .u-text-2 {margin-left: 0}
.u-section-2 .u-text-3 {margin-right: 361px}
.u-section-2 .u-text-4 {margin-right: 449px} }

@media (max-width: 575px){ .u-section-2 .u-image-1 {width: 340px; height: 272px; margin-left: 0}
.u-section-2 .u-text-2 {margin-top: -345px}
.u-section-2 .u-text-3 {margin-right: 261px}
.u-section-2 .u-text-4 {margin-right: 349px} }.u-section-3 .u-sheet-1 {min-height: 1029px}
.u-section-3 .u-text-1 {margin: 13px auto 0 -70px}
.u-section-3 .u-text-2 {font-size: 0.875rem; font-weight: 700; margin: 22px 189px 0 auto}
.u-section-3 .u-text-3 {font-size: 1.0625rem; margin: -27px auto 0 -70px}
.u-section-3 .u-image-1 {width: 570px; height: 687px; margin: 13px 13px 0 auto}
.u-section-3 .u-text-4 {width: 550px; margin: -680px auto 0 -70px}
.u-section-3 .u-text-5 {margin: 0 auto 60px -77px} 

@media (max-width: 1199px){ .u-section-3 .u-text-1 {margin-left: 0}
.u-section-3 .u-text-2 {margin-top: 617px; margin-right: 0}
.u-section-3 .u-text-3 {margin-top: -622px; margin-left: 0}
.u-section-3 .u-text-4 {height: 50px}
.u-section-3 .u-text-5 {width: 550px; height: 125px; margin-left: 0} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 463px}
.u-section-3 .u-image-1 {width: 540px; height: 650px; margin-right: 0}
.u-section-3 .u-text-4 {margin-top: -643px}
.u-section-3 .u-text-5 {width: 540px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 222px}
.u-section-3 .u-image-1 {width: 340px; height: 409px}
.u-section-3 .u-text-4 {margin-top: -402px; margin-left: 0; width: 340px}
.u-section-3 .u-text-5 {width: 340px} }.u-section-4 .u-sheet-1 {min-height: 1508px}
.u-section-4 .u-image-1 {width: 515px; height: 396px; margin: -94px auto 0 708px}
.u-section-4 .u-text-1 {margin: -364px 519px 0 -83px}
.u-section-4 .u-text-2 {margin: -61px auto 0 -83px}
.u-section-4 .u-text-3 {font-size: 1.0625rem; margin: 11px auto 0 -83px}
.u-section-4 .u-image-2 {width: 712px; height: 475px; margin: 20px -71px 0 auto}
.u-section-4 .u-text-4 {margin: -475px 673px 0 -83px}
.u-section-4 .u-text-5 {font-size: 0.75rem; margin: -65px 392px 0 499px}
.u-section-4 .u-text-6 {margin: 47px 24px 0 -83px}
.u-section-4 .u-text-7 {font-size: 1.25rem; font-weight: 700; margin: 18px 392px 10px -92px} 

@media (max-width: 1199px){ .u-section-4 {min-height: 1508px}
.u-section-4 .u-image-1 {margin-left: 425px}
.u-section-4 .u-text-1 {margin-right: 419px}
.u-section-4 .u-text-2 {margin-left: 0}
.u-section-4 .u-text-3 {margin-left: 0}
.u-section-4 .u-text-4 {margin-right: 573px}
.u-section-4 .u-text-5 {margin-right: 292px; margin-left: 399px}
.u-section-4 .u-text-6 {margin-left: 0; margin-right: 0}
.u-section-4 .u-text-7 {margin-right: 292px} }

@media (max-width: 991px){ .u-section-4 .u-image-1 {margin-left: 205px}
.u-section-4 .u-text-1 {margin-right: 309px}
.u-section-4 .u-text-4 {margin-right: 463px}
.u-section-4 .u-text-5 {margin-right: 182px; margin-left: 289px}
.u-section-4 .u-text-7 {margin-left: 0; margin-right: 0} }

@media (max-width: 767px){ .u-section-4 {min-height: 1393px}
.u-section-4 .u-sheet-1 {min-height: 1393px}
.u-section-4 .u-image-1 {margin-left: 25px}
.u-section-4 .u-text-1 {margin-right: 219px}
.u-section-4 .u-image-2 {width: 540px; height: 360px; margin-right: 0}
.u-section-4 .u-text-4 {margin-top: -360px; margin-right: 373px}
.u-section-4 .u-text-5 {margin-right: 92px; margin-left: 199px} }

@media (max-width: 575px){ .u-section-4 {min-height: 1137px}
.u-section-4 .u-sheet-1 {min-height: 1137px}
.u-section-4 .u-image-1 {width: 340px; height: 261px; margin-left: 0}
.u-section-4 .u-text-1 {margin-top: -231px; margin-left: 0; margin-right: 0}
.u-section-4 .u-image-2 {width: 340px; height: 227px}
.u-section-4 .u-text-4 {margin-top: -227px; margin-right: 273px}
.u-section-4 .u-text-5 {margin-right: 0; margin-left: 91px} }.u-section-5 .u-sheet-1 {min-height: 1064px}
.u-section-5 .u-text-1 {width: 1199px; margin: 11px auto 0 -87px}
.u-section-5 .u-image-1 {width: 570px; height: 472px; margin: 0 39px 0 auto}
.u-section-5 .u-text-2 {width: 550px; margin: -461px auto 0 -87px}
.u-section-5 .u-text-3 {font-size: 0.75rem; margin: 322px 28px 60px 520px} 

@media (max-width: 1199px){ .u-section-5 .u-text-1 {margin-left: 0; width: 940px; height: 475px}
.u-section-5 .u-text-2 {height: 75px}
.u-section-5 .u-text-3 {margin-right: 0; margin-left: 348px} }

@media (max-width: 991px){ .u-section-5 .u-text-1 {width: 720px}
.u-section-5 .u-text-3 {margin-left: 128px} }

@media (max-width: 767px){ .u-section-5 .u-sheet-1 {min-height: 451px}
.u-section-5 .u-text-1 {width: 540px}
.u-section-5 .u-image-1 {width: 540px; height: 447px; margin-right: 0}
.u-section-5 .u-text-2 {margin-top: -436px}
.u-section-5 .u-text-3 {margin-left: 0} }

@media (max-width: 575px){ .u-section-5 .u-sheet-1 {min-height: 285px}
.u-section-5 .u-text-1 {width: 340px}
.u-section-5 .u-image-1 {width: 340px; height: 281px}
.u-section-5 .u-text-2 {width: 340px; margin-top: -270px; margin-left: 0} }.u-section-6 .u-sheet-1 {min-height: 199px}
.u-section-6 .u-layout-wrap-1 {margin: 13px auto 60px 0}
.u-section-6 .u-layout-cell-1 {min-height: 291px}
.u-section-6 .u-container-layout-1 {padding: 30px}
.u-section-6 .u-icon-1 {height: 77px; width: 77px; background-image: none; margin: -10px auto 0}
.u-section-6 .u-text-1 {font-weight: 700; margin: 35px 0 0}
.u-section-6 .u-btn-1 {background-image: none; border-style: none; margin: 36px auto 0}
.u-section-6 .u-layout-cell-2 {min-height: 291px}
.u-section-6 .u-container-layout-2 {padding: 30px}
.u-section-6 .u-icon-2 {height: 76px; width: 77px; background-image: none; margin: -9px auto 0}
.u-section-6 .u-text-2 {font-weight: 700; margin: 21px 0 0}
.u-section-6 .u-btn-2 {background-image: none; border-style: none; margin: 24px auto 0}
.u-section-6 .u-layout-cell-3 {min-height: 291px}
.u-section-6 .u-container-layout-3 {padding: 30px}
.u-section-6 .u-icon-3 {height: 76px; width: 77px; background-image: none; margin: -10px 107px 0 auto}
.u-section-6 .u-text-3 {font-weight: 700; margin: 36px -21px 0 21px}
.u-section-6 .u-btn-3 {background-image: none; border-style: none; margin: 39px 81px 0 auto} 

@media (max-width: 1199px){ .u-section-6 .u-sheet-1 {min-height: 216px}
.u-section-6 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-6 .u-layout-cell-1 {min-height: 240px}
.u-section-6 .u-layout-cell-2 {min-height: 240px}
.u-section-6 .u-layout-cell-3 {min-height: 240px}
.u-section-6 .u-text-3 {margin-left: 0; margin-right: 0}
.u-section-6 .u-btn-3 {margin-right: 14px} }

@media (max-width: 991px){ .u-section-6 .u-sheet-1 {min-height: 167px}
.u-section-6 .u-layout-cell-1 {min-height: 100px}
.u-section-6 .u-layout-cell-2 {min-height: 100px}
.u-section-6 .u-layout-cell-3 {min-height: 100px}
.u-section-6 .u-icon-3 {margin-right: 103px}
.u-section-6 .u-btn-3 {margin-right: 0} }

@media (max-width: 767px){ .u-section-6 .u-sheet-1 {min-height: 267px}
.u-section-6 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-container-layout-3 {padding-left: 10px; padding-right: 10px} }